[Unit]
Description=OpenTorque PBS Scheduler
After=pbs_server.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/pbs_sched -D
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
